.container {
    padding: 2rem;
    background-color: #000000be;
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.cajitaContainer {
    background: #000000be;
    width: 200px;
    height: 100px;
    border-radius: 12%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    box-shadow: 1px 23px 22px 0px rgba(0, 0, 0, 0.616);
}