.container {
  background-color: black;
  color: aliceblue;
  margin: 0px;
  padding: 0px;

  height: 100vh;
  display: flex;

}

.img {
  height: 100vh;
}

.seccion_uno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;

  background-image: url("../public/image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  

}

.seccion_dos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
    
  width: 50vw;
  background: rgb(199,96,36);
background: linear-gradient(0deg, rgba(199,96,36,1) 73%, rgba(16, 99, 214, 0.808) 100%);
}

.enlaces {
  display: flex;
  gap: 1rem;
}
.inputsContainer {
  display: flex;
  flex-direction: column;
  width:17rem;
  gap: 1rem;
}

.input {
  padding: 1rem
}
.button {
  background-color: transparent;
  border: 1px solid aliceblue;
  border-radius: 15px;
  color: aliceblue;
  font-size:large;
  padding: 10px;
  text-decoration: none;
}


.button:hover {
  background-color: rgba(186, 179, 182, 0.636);
  color: #2b1a3d;
}