.container {
    height: 100vh;
    background-color: black;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 2rem;
    gap: 4rem;
}

.link {
    color: aliceblue;
    text-decoration: none;
}